body{
    font-family: Arial;
}

body h1{
    text-align: center;
    font-weight: bolder;
    color: #111;
}

body .logo{
    display: block;
    margin: 0 auto;
    width: 150px;
    margin-bottom: 20px;
}

section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px;
}

.venda{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    background-color: rgb(19, 19, 19);
    padding: 5px 25px 25px 25px;
    border-radius: 4px;
    width: 500px;
    margin-bottom: 20px;
}

.venda h2{
    color: white;
}

.venda img{
    margin-top: 20px;
    border: white 2px solid;
    width: 150px;
    height: 90px;
    border-radius: 4px;
    margin-bottom: 15px;
}

p{
    color: #b2b2b2;
}

produto{
    color: #febe01;
}

button{
    background-color: #febe01;
    border: none;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
}